@import "tailwindcss";

/* suas cores */
:root {
  --color-primary: #6b9dff;
  --color-secondary: #222222;
  --color-background: #262626;
  --color-third: #323232;
  --color-fourth: #424242;
}

/* scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}